---
BasedOnStyle: LLVM
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: 'Empty'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BinPackParameters: 'true'
BreakBeforeBinaryOperators: 'NonAssignment'
BreakBeforeBraces: Allman
ColumnLimit: 80
Cpp11BracedListStyle: true
DerivePointerAlignment: true
IndentCaseLabels: true
IndentWidth: 4
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: true
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Middle
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: true
SpacesInAngles: false
SpacesInCStyleCastParentheses: true
SpacesInContainerLiterals: false
SpacesInParentheses: true
Standard: "c++03"
TabWidth: 4
UseTab: ForIndentation
